{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/plain; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>回答提问</title>
  <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'infosys/style.css' %}">

</head>
<body>

  <div class="container home">

    <div class="row">
    	<h1 class="sub-header">回答学生提问</h1>

  	<div class="table-responsive">
          <table id="firm_table" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>提问学生</th>
                <th>问题类型</th>
                <th>问题描述</th>
                <th>是否回答</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% if questions %}
                {% for question in questions %}
                  {% if question.is_answered == 0 %}
                    <tr class="danger">
                      <td>{{ question.student.name }}</td>

                      {% if question.type == 1 %}
                        <td>推免报送</td>
                      {% endif %}
                      {% if question.type == 2 %}
                        <td>考研深造</td>
                      {% endif %}
                      {% if question.type == 3 %}
                        <td>出国留学</td>
                      {% endif %}
                      {% if question.type == 4 %}
                        <td>就业</td>
                      {% endif %}
                      {% if question.type == 5 %}
                        <td>应征入伍</td>
                      {% endif %}

                      <td>{{ question.desc }}</td>
                      <td>否</td>
                      <td><a href="http://127.0.0.1:8000/write-answer/?questionId={{ question.id }}">去回答</a></td>
                    </tr>
                  {% else %}
                    <tr class="success">
                      <td>{{ question.student.name }}</td>

                      {% if question.type == 1 %}
                      <td>推免报送</td>
                      {% endif %}
                      {% if question.type == 2 %}
                      <td>考研深造</td>
                      {% endif %}
                      {% if question.type == 3 %}
                      <td>出国留学</td>
                      {% endif %}
                      {% if question.type == 4 %}
                      <td>就业</td>
                      {% endif %}
                      {% if question.type == 5 %}
                      <td>应征入伍</td>
                      {% endif %}

                      <td>{{ question.desc }}</td>
                      <td>是</td>
                      <td><a href="http://127.0.0.1:8000/write-answer/?questionId={{ question.id }}">去回答</a></td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% else %}
                <p>无学生提问</p>
              {% endif%}
            </tbody>
          </table>
        </div>

    </div>

  </div>

  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
  <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
  <script src="{% static 'infosys/tableExporter.js' %}"></script>
  <script src="{% static 'infosys/main.js' %}"></script>

</body>
</html>